body {
  margin: 0;
  padding: 0;
  background: rgb(14,12,55);
  background: linear-gradient(90deg, rgba(14,12,55,1) 0%, rgba(17,17,40,1) 50%, rgba(0,94,113,1) 100%);
  font-family: 'Roboto Condensed', sans-serif;
}

h1{
  color: white;
  font-family: 'Glegoo', serif;
}
